<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDictionariesService">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://94.177.199.89:7833/Service/DictionariesService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDictionariesService"
          contract="DictionarySerivce.IDictionariesService" name="WSHttpBinding_IDictionariesService" />
    </client>
  </system.serviceModel>
</configuration>