<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginServiceEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/LoginService" binding="basicHttpBinding"
                bindingConfiguration="LoginServiceEndpoint" contract="LoginService.ILoginService"
                name="LoginServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>