<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LoginServiceEndpoint" />
        <binding name="DictionariesServiceEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9999/LoginService" binding="basicHttpBinding"
          bindingConfiguration="LoginServiceEndpoint" contract="LoginService.ILoginService"
          name="LoginServiceEndpoint" />
      <endpoint address="http://localhost:9999/DictionariesService"
          binding="basicHttpBinding" bindingConfiguration="DictionariesServiceEndpoint"
          contract="DictionariesService.IDictionariesService" name="DictionariesServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>