<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDictionariesService">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ILogger">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://94.177.199.89:7833/Service/DictionariesService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDictionariesService"
          contract="DictionarySerivce.IDictionariesService" name="WSHttpBinding_IDictionariesService" />
      <endpoint address="http://94.177.199.89:7834/Logger.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_ILogger" contract="LoggerService.ILogger"
          name="WSHttpBinding_ILogger" />
    </client>
  </system.serviceModel>
</configuration>