<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing"    propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener"      initializeData= "D:\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="SerwisConnectionStringBL"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=BANDD;Database=Serwis;Trusted_Connection=true;MultipleActiveResultSets=true;"/>
    <add name="SerwisConnectionStringAS"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=DESKTOP-H4L3EG5\SQLEXPRESS;Database=Serwis;Trusted_Connection=true;MultipleActiveResultSets=true;"/>-->
    <add name="BanddServer"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=94.177.199.89;Database=Serwis;User ID=BanddServer;Password=ani0lek91;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DictionaryServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DictionaryServiceBehaviors" name="BandD.Serwis.Server.Service.DictionariesService">
        <endpoint address="http://localhost:9999/DictionariesService"
          binding="basicHttpBinding" name="DictionariesServiceEndpoint"
          contract="BandD.Serwis.Server.Interface.IDictionariesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:9999/DictionariesServiceMex"
          binding="mexHttpBinding" name="DictionariesServiceEndpointMex"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BandD.Serwis.Server/DictionariesService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>