<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILogger">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://94.177.199.89:7834/Logger.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ILogger" contract="LoggerService.ILogger"
                name="WSHttpBinding_ILogger" />
        </client>
    </system.serviceModel>
</configuration>